.card-rounded{
    border-radius: 20px;
}

.img-rounded{
    border-radius: 30px;
}
.theme-color{
    color: #e8604c;
}
.theme-btn{
    background-color: #e8604c;
    color: white;
}

.theme-btn:hover{
    color: black;
    background-color: rgba(243, 122, 122, 0.329);
}

.service{
    transition: .5s ease-in-out;
}
.service:hover{
    box-shadow: 0 1rem 2rem rgba(163, 163, 163, 0.175);
}